<div>

<% if flash[:error] %>
<div class="error">
    <%= flash[:error] %>
</div>
<% end %>

<ul id="task_list">
	<% @working_list.tasks.each do |each| %>
	<li id="task_<%=each.id%>" class="<%=item_class_of_task(each)%>">
		<span class="date"><%=each.created_at.strftime("%d %a %H:%M")%></span>
		<a href="/task/start?id=<%=each.id%>" class="button start">Start</a>
		<a href="/task/complete?id=<%=each.id%>" class="button complete">Complete</a>
		<a href="/task/cancel?id=<%=each.id%>" class="button cancel">Cancel</a>
		<div class="subject"><%=textile each.subject %></div>
	</li>
	<% end %>
</ul>
<a href="/task/close_list" class="button close_list">Close list</a>

<div id="add_task_dialog">
<% form_tag(:action=>:add) do %>
	<input type="text" name="subject" size="80" max="80">
	<input type="submit" value="Add">
<% end %>
</div>

</div>

<script type="text/javascript">
</script>
