<div>

<% if flash[:error] %>
<div class="error">
    <%= flash[:error] %>
</div>
<% end %>


<% form_tag :action=>:add do %>
	<%= label_tag "subject", "New Task:" %>
	<%= text_field_tag :subject, "", :size => 100, :max => 255 %>
	<%= submit_tag "Add" %>
<% end %>

<a href="/task/close_list" class="button close_list">Close list</a>

<table id="task_list">
	<colgroup>
		<col width="80" />
		<col width="80" />
		<col width="80" />
		<col width="*" />
	</colgroup>
	<tbody>
	<% @working_list.tasks.each do |each| %>
	<tr id="task_<%=each.id%>" class="<%=item_class_of_task(each)%>">
		<td>
			<span class="date"><%=each.created_at.strftime("%d %a %H:%M")%></span>
		</td>
		<td>
			<%if each.started?%>
			<span class="date"><%=each.started_at.strftime("%d %a %H:%M")%></span>
			<%elsif not each.started? and not each.canceled?%>
			<a href="/task/start?id=<%=each.id%>" class="button start">Start</a>
			<%else%>
			-
			<%end%>
		</td>
		<td>
			<%if each.completed?%>
			<span class="date"><%=each.completed_at.strftime("%d %a %H:%M") if each.completed?%></span>
			<%elsif not each.started?%>
			<a href="/task/cancel?id=<%=each.id%>" class="button cancel">Cancel</a>
			<%else%>
			<a href="/task/complete?id=<%=each.id%>" class="button complete">Complete</a>
			<%end%>
		</td>
		<td class="subject">
			<%=htmlize_subject(each.subject)%>
		</td>
	</tr>
	<% end %>
	</tbody>
</table>

</div>

<script type="text/javascript">
</script>
