body, table
  font-family: "Helvetica", "Arial", "NanumGothic", "NanumGothicOTF", sans-serif
  font-size: 10pt
  
a.button
  padding: 1px 4px 1px 4px
  background-color: lightgray
  border: 1px solid darkgray
  text-decoration: none

#task_list
  margin: 2px
  width: 100%
  border-spacing: 0
  
  span.date
    font-family: monospace
    font-size: small
    
  tr
    td
      border-bottom: 1px solid lightgray
      padding: 4px
      list-style-type: none
    td.subject
      & > p
        display: inline
        
  tr.doing
    td.subject
      font-weight: bold

  tr.done
    td.subject
      text-decoration: line-through

  tr.canceled
    td.subject
      text-decoration: line-through
      color: darkgray

  tr.review
    background-color: #ff6

  tr.completely_closed_mark
    td
      border-top: 2px solid black

  tr.closed_mark
    td
      border-top: 2px solid red
