#todo_list li
  border-bottom: 1px solid lightgray
  padding: 4px
  list-style-type: none

  button
    width: 80px

  &.todo
    button
      &.start
        display: inline

      &.complete
        display: none

  &.started
    span.subject
      font-weight: bold

    button
      &.start
        display: none

      &.complete
        display: inline

  &.completed
    span.subject
      text-decoration: line-through

    button
      &.start, &.complete
        display: none

  &.completely_closed_mark
    border-bottom: 2px solid black
  &.closed_mark
    border-bottom: 2px solid red
    