#task_list li {
  border-bottom: 1px solid lightgray;
  padding: 4px;
  list-style-type: none; }
  #task_list li button {
    width: 80px; }
  #task_list li.todo button.start {
    display: inline; }
  #task_list li.todo button.complete {
    display: none; }
  #task_list li.started span.subject {
    font-weight: bold; }
  #task_list li.started button.start {
    display: none; }
  #task_list li.started button.complete {
    display: inline; }
  #task_list li.completed span.subject {
    text-decoration: line-through; }
  #task_list li.completed button.start, #task_list li.completed button.complete {
    display: none; }
  #task_list li.review {
    background-color: #ff6; }
  #task_list li.completely_closed_mark {
    border-bottom: 2px solid black; }
  #task_list li.closed_mark {
    border-bottom: 2px solid red; }
