body {
  font-family: "Helvetica","Arial","NanumGothic","NanumGothicOTF",sans-serif;
  font-size: 10pt; }

a.button {
  padding: 1px 4px 1px 4px;
  background-color: lightgray;
  border: 1px solid darkgray;
  text-decoration: none; }

#task_list {
  padding: 0; }

#task_list li {
  border-bottom: 1px solid lightgray;
  padding: 4px;
  list-style-type: none; }
  #task_list li span.subject p {
    display: inline; }
  #task_list li.todo a.button.start {
    display: inline; }
  #task_list li.todo a.button.complete {
    display: none; }
  #task_list li.todo a.button.cancel {
    display: none; }
  #task_list li.doing span.subject {
    font-weight: bold; }
  #task_list li.doing a.button.start {
    display: none; }
  #task_list li.doing a.button.complete {
    display: inline; }
  #task_list li.doing a.button.cancel {
    display: none; }
  #task_list li.done span.subject {
    text-decoration: line-through; }
  #task_list li.done a.button.start, #task_list li.done a.button.complete, #task_list li.done a.button.cancel {
    display: none; }
  #task_list li.todo.review a.button.cancel {
    display: inline; }
  #task_list li.review {
    background-color: #ff6; }
  #task_list li.completely_closed_mark {
    border-bottom: 2px solid black; }
  #task_list li.closed_mark {
    border-bottom: 2px solid red; }
