Autofocus

<ul id="todo_list">
	<% @todos.each do |each| %>
	<li id="todo_<%=each.id%>" class="<%=item_class_of_todo(each)%>">
		<button class="start">Start</button>
		<button class="complete">Complete</button>
		<span class="subject"><%=h each.subject %></span>
	</li>
	<% end %>
</ul>

<div id="add_todo_dialog">
<form>
	<input type="text" name="subject" size="80" max="80">
	<input type="submit" value="Add">
</form>
</div>

<script type="text/javascript">
$(document).ready(function() {
	
	function todo_id(element_id) {
		return element_id.split("_")[1];
	}
	
	function todo_start_callback() {
		var item = $($(this).parent());
		$.post("/todo/start", {id: todo_id(item.attr("id"))},
			function(data) {
				item.removeClass("todo");
				item.addClass("started");
			}, "json");
		return false;
	}
	
	function todo_complete_callback() {
		var item = $($(this).parent());
		$.post("/todo/complete", {id: todo_id(item.attr("id"))},
			function(data) {
				item.removeClass("started");
				item.addClass("completed");
			}, "json");
		return false;
	}
	
	$("#todo_list li button.start").click(todo_start_callback);
	$("#todo_list li button.complete").click(todo_complete_callback);

	$("#add_todo_dialog form").submit(function() {
		var form = this;
		$.post("/todo/add", {subject: form.subject.value},
			function(data) {
				var startButton = $("<button>").addClass("start").text("Start")
					.click(todo_start_callback);
				var completeButton = $("<button>").addClass("complete").text("Complete")
					.click(todo_complete_callback);
				var li = $("<li>").attr("id", "todo_" + data.todo.id).addClass("todo")
					.append(startButton)
					.append(completeButton)
					.append($("<span>").addClass("subject").text(data.todo.subject));
				$("#todo_list").append(li);
				form.subject.value = "";
		  	}, "json");
		return false;
	});
});
</script>